<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>资源详情</title>
    <head th:insert="~{import :: header}"></head>
    <head th:insert="~{import :: markdown}"></head>
    <!--资源分享详情页面-->
</head>

<!--导航栏-->
<div th:insert="~{navigation :: nav}"></div>
<!--内容-->
<div class="container-fluid main ">
    <div class="row">

        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="resource-title"><span th:text="${resource.title}"></span></h4>
                <span class="text-desc">
                        作者:     <span th:text="${resource.user.name}"></span> |
                        发布时间： <span th:text="${#dates.format(resource.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |

                    </span>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <!--标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="question-tag" th:each="tag : ${resource.tag.split(',')}">
                        <a th:href="@{/(page=1,tag=${tag})}"
                           th:text="${tag}" class="community-tag glyphicon glyphicon-tag"></a>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <!--内容 将markdown 的格式内容转换成html-->

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="resource-view" >
                    <textarea th:text="${resource.description}" style="display:none;"  ></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var testView = editormd.markdownToHTML("resource-view", {
                            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                            // htmlDecode : true,  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--下载-->
                <!--download="job_info-44104b6a-1bb7-4db9-bc6a-d5e37d59a872.sql"-->
                <!--href="/file/download?fileName=job_info-44104b6a-1bb7-4db9-bc6a-d5e37d59a872.sql"-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a  th:href="@{/file/download(fileName=${resource.resourceName})}"  ><span th:text="${resource.resourceName}"></span> | 点击下载</a>
                <!--这里需要一个图标-->
                </div>
                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/resource/share/'+${resource.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == resource.userId}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--回复-->
<!--            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment:${comments}">
                    <div class="media ">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body ">
                            <h5>
                                <span th:text="${comment.user.name}"></span><br>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span th:data-id="${comment.id}"
                                      onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            &lt;!&ndash;二级评论&ndash;&gt;
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                &lt;!&ndash;二级回复内容&ndash;&gt;
                                &lt;!&ndash;通过jQuery 异步加载&ndash;&gt;
                                &lt;!&ndash;二级回复输入框&ndash;&gt;
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" th:id="${'input-'+comment.id}" placeholder="评论一下......">
                                    <button type="button" class="btn btn-success pull-right" onclick="comment(this)" th:data-id="${comment.id}">评论</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;回复输入框&ndash;&gt;
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media ">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${session.user != null ? session.user.avatarUrl : '/images/d-avatar.png'}">
                            </a>
                        </div>
                        <div class="media-body ">
                            <h5><span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span><br></h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control text-comment" rows="6" id="comment_content"></textarea>
                    &lt;!&ndash; Indicates a successful or positive action &ndash;&gt;
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>

                </div>
            </div>-->
        </div>

        <!--右边信息快-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${resource.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body ">
                        <h5><span th:text="${resource.user.name}"></span><br></h5>
                    </div>
                </div>
            </div>


            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关资源</h4>
<!--                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
    </div>

</div>
<!--尾页-->
<div th:insert="~{footer :: foot}"></div>

</body>

</html>